<mat-sidenav-container class="example-container" (backdropClick)="close ('backdrop')" >
    <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
        <p><button mat-raised-button (click)="close('toggle button')">Fechar Menu</button></p>
        <br>
        <br>
        <br>
        <br>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                   <span class="item-menu">MEMBROS</span>
              </mat-panel-title>
              <mat-panel-description>
                  Gerencie Membros
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item>
                    <button mat-mini-fab>
                        <mat-icon>add</mat-icon>
                      </button><span><a class="item-menu" [routerLink]="['/members']" >Adicionar Membro</a></span>
                  </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <button mat-mini-fab>
                        <mat-icon>create</mat-icon>
                      </button>
                       <span class="item-menu">Editar Membro</span>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <button mat-mini-fab>
                        <mat-icon>remove_circle</mat-icon>
                      </button>
                      <span class="item-menu">Excluir Membro</span>
                </mat-list-item>
              </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
    </mat-sidenav>

<mat-sidenav-content>

<div class="page-header-fixed page-content-white header-white">
  <div class="page-wrapper">
        <div class="page-header navbar navbar-fixed-top">

            <div class="page-header-inner ">
                  <p class="open_menu"><button mat-flat-button color="primary" (click)="sidenav.open()">Abrir Menu</button></p>

                 <div class="actions pull-right">
                    <button mat-flat-button [matMenuTriggerFor]="menu">Ricardo<mat-icon>expand_more</mat-icon></button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item><mat-icon>portrait</mat-icon> Perfil</button>
                      <button mat-menu-item><mat-icon>input</mat-icon> Logout</button>
                    </mat-menu>
                </div>
                <a href="#" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                    <span></span>
                </a>

            </div>
        </div>
         <div class="container-fluid">
        <div class="row">
        <div class="page-container">
            <div class="page-content-wrapper">
                <div class="page-content">
                    <div class="page-bar">
                        <div class="page-title-breadcrumb">
                            <div class=" pull-left">
                                <div class="page-title">Dashboard</div>
                            </div>
                            <ol class="breadcrumb page-breadcrumb pull-right">

                                <li class="active">Dashboard</li>
                            </ol>
                        </div>
                    </div>
              <app-cards></app-cards>
          <app-members></app-members>
        <div class="row">
          <div class="col-md-4 col-sm-12 col-12">
            <div class="card bg-info">
              <div class="text-white py-3 px-4">
                <h6 class="card-title text-white mb-0">Page View</h6>
                <p>7582</p>
                <div id="sparkline26"></div>
                <small class="text-white">View Details</small>
              </div>
            </div>
            <div class="card bg-success">
              <div class="text-white py-3 px-4">
                <h6 class="card-title text-white mb-0">Earning</h6>
                <p>3669.25</p>
                <div id="sparkline27"></div>
                <small class="text-white">View Details</small>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 col-12">
            <div class="card  card-box">
              <div class="card-head">
                <header>Pedidos de oração</header>
                <div class="tools">
                  <a class="fa fa-repeat btn-color box-refresh" href="#"></a>
                  <a class="t-collapse btn-color fa fa-chevron-down" href="#"></a>
                  <a class="t-close btn-color fa fa-times" href="#"></a>
                </div>
              </div>
              <div class="card-body no-padding height-9">
                <div class="row">
                  <div class="noti-information notification-menu">
                    <div class="notification-list mail-list not-list small-slimscroll-style">
                      <a href="#" class="single-mail"> <span class="icon bg-primary"> <i class="fa fa-user-o"></i>
                        </span> <span class="text-purple">Abhay Jani</span> Adicionou um pedido
                        <span class="notificationtime">
                          <small>10 minutos atrás</small>
                        </span>
                      </a>
                      <a href="#" class="single-mail"> <span class="icon blue-bgcolor"> <i class="fa fa-envelope-o"></i>
                        </span> <span class="text-purple">John Doe</span> Adicionou um pedido
                        <span class="notificationtime">
                          <small>15 minutos atrás</small>
                        </span>
                      </a>
                      <a href="#" class="single-mail"> <span class="icon bg-primary"> <i class="fa fa-user-o"></i>
                        </span> <span class="text-purple">Abhay Jani</span> Adicionou um pedido
                        <span class="notificationtime">
                          <small>10 minutos atrás</small>
                        </span>
                      </a>
                      <a href="#" class="single-mail"> <span class="icon blue-bgcolor"> <i class="fa fa-envelope-o"></i>
                        </span> <span class="text-purple">John Doe</span> Adicionou um pedido
                        <span class="notificationtime">
                          <small>15 minutos atrás</small>
                        </span>
                      </a>
                    </div>
                    <div class="full-width text-center p-t-10">
                      <button type="button" class="btn purple btn-outline btn-circle margin-0">Ver Todos</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 col-12">
            <div class="card  card-box">
              <div class="card-head">
                <header>Financeiro - Resumo</header>
                <div class="tools">
                  <a class="fa fa-repeat btn-color box-refresh" href="#"></a>
                  <a class="t-collapse btn-color fa fa-chevron-down" href="#"></a>
                  <a class="t-close btn-color fa fa-times" href="#"></a>
                </div>
              </div>
              <div class="card-body no-padding height-9">
                <div class="row text-center">
                  <div class="col-sm-4 col-6">
                    <h4 class="margin-0">$ 209 </h4>
                    <p class="text-muted"> Hoje</p>
                  </div>
                  <div class="col-sm-4 col-6">
                    <h4 class="margin-0">$ 837 </h4>
                    <p class="text-muted"> Esta Semana</p>
                  </div>
                  <div class="col-sm-4 col-6">
                    <h4 class="margin-0">$ 3410 </h4>
                    <p class="text-muted"> Este Mês</p>
                  </div>
                </div>
                <div class="row text-center">
                  <div class="col-sm-4 col-6">
                    <h4 class="margin-0">$ 209 </h4>
                    <p class="text-muted"> Hoje</p>
                  </div>
                  <div class="col-sm-4 col-6">
                    <h4 class="margin-0">$ 837 </h4>
                    <p class="text-muted"> Esta Semana</p>
                  </div>
                  <div class="col-sm-4 col-6">
                    <h4 class="margin-0">$ 3410 </h4>
                    <p class="text-muted"> Este Mês</p>
                  </div>
                </div>
                <div class="row text-center">
                  <div class="col-sm-4 col-6">
                    <h4 class="margin-0">$ 209 </h4>
                    <p class="text-muted"> Hoje</p>
                  </div>
                  <div class="col-sm-4 col-6">
                    <h4 class="margin-0">$ 837 </h4>
                    <p class="text-muted"> Esta Semana</p>
                  </div>
                  <div class="col-sm-4 col-6">
                    <h4 class="margin-0">$ 3410 </h4>
                    <p class="text-muted"> Este Mês</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-md-12 col-sm-12 col-12">
            <div class="card-box ">
              <div class="card-head">
                <header>Biblioteca</header>
                <div class="tools">
                  <a class="fa fa-repeat btn-color box-refresh" href="#"></a>
                  <a class="t-collapse btn-color fa fa-chevron-down" href="#"></a>
                  <a class="t-close btn-color fa fa-times" href="#"></a>
                </div>
              </div>
              <div class="card-body ">
                <div class="row">
                  <ul class="docListWindow small-slimscroll-style">
                    <li>
                      <div class="row">
                        <div class="col-md-8 col-sm-8">
                          <div class="prog-avatar">
                            <img src="assets/img/user/user1.jpg" alt="" width="40" height="40">
                          </div>
                          <div class="details">
                            <div class="title">
                              <a href="#">As Institutas</a>
                              <p class="rating-text">João Calvino</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="row">
                        <div class="col-md-8 col-sm-8">
                          <div class="prog-avatar">
                            <img src="assets/img/user/user2.jpg" alt="" width="40" height="40">
                          </div>
                          <div class="details">
                            <div class="title">
                              <a href="#">O Peregrino</a>
                              <p class="rating-text">John Bunnyan</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="row">
                        <div class="col-md-8 col-sm-8">
                          <div class="prog-avatar">
                            <img src="assets/img/user/user3.jpg" alt="" width="40" height="40">
                          </div>
                          <div class="details">
                            <div class="title">
                              <a href="#">Teologia Sistemática</a>
                              <p class="rating-text"> Luois Berkhof</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="row">
                        <div class="col-md-8 col-sm-8">
                          <div class="prog-avatar">
                            <img src="assets/img/user/user4.jpg" alt="" width="40" height="40">
                          </div>
                          <div class="details">
                            <div class="title">
                              <a href="#">A cruz de Cristo</a>
                              <p class="rating-text">Charles H. Spurgeon</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="row">
                        <div class="col-md-8 col-sm-8">
                          <div class="prog-avatar">
                            <img src="assets/img/user/user5.jpg" alt="" width="40" height="40">
                          </div>
                          <div class="details">
                            <div class="title">
                              <a href="#">O mundo, a carne e o diabo</a>
                              <p class="rating-text">Russel Shedd</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                    </li>
                  </ul>
                  <div class="full-width text-center p-t-10">
                    <a href="#" class="btn purple btn-outline btn-circle margin-0">Ver Todos</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 col-12">
            <div class="card-box">
              <div class="card-head">
                <header>Agenda do Pastor</header>
                <button mat-icon-button [matMenuTriggerFor]="menu" class="pull-right">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    <mat-icon>assignment_ind</mat-icon>
                    <span>Visitas</span>
                  </button>
                  <button mat-menu-item>
                    <mat-icon>voicemail</mat-icon>
                    <span>Ligações</span>
                  </button>
                  <button mat-menu-item>
                    <mat-icon>notifications_off</mat-icon>
                    <span>Disable alerts</span>
                  </button>
                </mat-menu>
              </div>
              <div class="card-body ">
                <ul class="to-do-list ui-sortable">
                  <li class="clearfix">
                    <mat-checkbox class="text-calendar">Visita ao irmão Joãozinho</mat-checkbox>
                    <mat-icon class="pull-right">clear</mat-icon>
                  </li>
                  <li class="clearfix">
                    <mat-checkbox class="text-calendar">Visita ao irmão Joãozinho</mat-checkbox>
                    <mat-icon class="pull-right">clear</mat-icon>
                  </li>
                  <li class="clearfix">
                    <mat-checkbox class="text-calendar">Visita ao irmão Joãozinho</mat-checkbox>
                    <mat-icon class="pull-right">clear</mat-icon>
                  </li>
                  <li class="clearfix">
                    <mat-checkbox class="text-calendar">Visita ao irmão Joãozinho</mat-checkbox>
                    <mat-icon class="pull-right">clear</mat-icon>
                  </li>
                  <li class="clearfix">
                    <mat-checkbox class="text-calendar">Visita ao irmão Joãozinho</mat-checkbox>
                    <mat-icon class="pull-right">clear</mat-icon>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
 </div>
</div>
  <app-footer></app-footer>
</mat-sidenav-content>
</mat-sidenav-container>

